.search-input-block {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.result {
    margin-top: 16px;
}

.row {
    margin-bottom: 8px;
}

.pagination-buttons {
    margin: 0 auto;
    width: 200px;
}