<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Food thread App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button (click)="goHome()" aria-label="icon-button with home icon" *ngIf="!(currentUrl === '/')">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-stroked-button color="white" (click)="goSubscribe()">
        Signin
      </button>
      <button mat-stroked-button color="white" (click)="goSubscribe()"  *ngIf="!(currentUrl === '/subscribe')">
        Login
      </button>
    </mat-toolbar>
  </p>